/.clover
/build
/venv
/local.properties
/generated*
/.fbwarnings
/.fbprefs
/bin
/outinstr
/libsrc
/dist
target
/test-output
/temp-testng-customsuite.xml
/.project
/.classpath
/.idea
*.iml
*.ids
*.log
*.iws
*.ipr
git-daemon-export-ok
.DS_Store
.*.swp
node_modules/
*.out
login-security-tests/test-suite/.rakeTasks
login-security-tests/test-suite/spec/reports/
login-security-tests/test-suite/jolokia-jvm.jar
login-security-tests/test-suite/output.html
core/src/main/resources/agent-config.txt
login-security-tests/test-suite/tmp/
login-security-tests/ping-stub/.bundle/
login-security-tests/ping-stub/bin/
login-security-tests/test-suite/examples.txt
/tmp
/.shelf
.java-version
webapp-src/.idea
webapp-src/.vscode/*
.idea
*.retry
npm-debug.log*
temp
mssql.pem
docker/engr-bdd-database/container/mssql
.flattened-pom.xml
developer-*.properties
*.classpath
*.project
*.factorypath
*.prefs
.vscode/*
.git
docker-compose-local.yml
/.mvn/wrapper/maven-wrapper.jar
/aconex-ingress.crt
/aconex-ingress.csr
/aconex-ingress.key
/keystore
pom.xml.releaseBackup
